<a href="https://colab.research.google.com/github/anadebattista/TMnews/blob/master/TMnews_1_Obtencion_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Curso Minería de Textos 2019**
**Trabajo Final:** 

**Profesor:** Dr. Marcelo Errecalde

**Alumnos:** 
*   M.Cs. Anabella De Battista
*   Ing. Esteban Schab

---
#**Fase de Obtención y Preparación de los Textos**

---

**Determinación de fuentes de información**

Para este trabajo se consideró trabajar con tres periódicos digitales nacionales: Clarín, Infobae y La Nación. Se seleccionaron 6 secciones de los diarios: Deportes, Economía, Espectáculos, Política, Sociedad, Tecnología.

---

**Carga de librerías**

---

In [0]:
import pandas as pd
import os
import chardet
import numpy as np
import datetime

In [0]:
! git clone https://github.com/GIBD/TMnews.git

Cloning into 'TMnews'...
remote: Enumerating objects: 10, done.
remote: Counting objects: 100% (10/10), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 537 (delta 0), reused 7 (delta 0), pack-reused 527
Receiving objects: 100% (537/537), 56.75 MiB | 20.65 MiB/s, done.
Resolving deltas: 100% (12/12), done.
Checking out files: 100% (518/518), done.

---

**Generación de un único almacén de datos**

A partir de los múltiples archivos generados al scrappear los sitios web de los diarios, se generó un único repositorio en formato CSV (newsoctubre2019.csv)

---

In [0]:
os.chdir("/content/TMnews/data/raw")
# Metadatos para acceder a los archivos JSON
diarios = ['clarin','infobae','lanacion']
secciones = ['deportes','economia','espectaculos','politica','sociedad','tecnologia']
dias = ['01','02','04','05','06','07','08','09','10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29']
# Inicializa dataframe noticias
noticias = pd.DataFrame()
# Recorre los archivos JSON cargando las noticias en el dataframe noticias
for diario in diarios:
    for seccion in secciones:
        for dia in dias:
            nombreJSON = '201910' + dia + '_' + diario + '_' + seccion + '.json'
            # Genera la fecha del JSON actual
            fechaJSON = datetime.datetime(int(nombreJSON[0:4]),int(nombreJSON[4:6]), int(nombreJSON[6:8]))
            # Obtiene metadatos del archivo para acceder al encoding
            with open(nombreJSON, 'rb') as f: result = chardet.detect(f.read())
            # Obtiene el dataframe a partir del JSON teniendo en cuenta el encoding
            if (result['encoding'] != 'Windows-1252'):
              df = pd.read_json(nombreJSON, lines=True) 
            else:
              df = pd.read_json(nombreJSON, lines=True,  encoding=result['encoding']) #encoding='Windows-1252'
            # Actualiza la fecha en el dataframe
            df['date'] = fechaJSON
            #concatena con los anteriores
            noticias = pd.concat([noticias, df], ignore_index=True, sort=False)
# Exporta el dataframe de noticias en formato CSV
export_csv = noticias.to_csv (r'/content/TMnews/data/newsoctubre2019.csv', index = None, header=True)
#noticias.shape
noticias

      news_paper  ...                                               body
0         clarin  ...  Germán Bermúdez es referí en las categorías de...
1         clarin  ...  Barcelona no mira a todos desde arriba. Ya no....
2         clarin  ...  Ya sean creyentes o escépticos, la ansiedad po...
3         clarin  ...  El duelo de ida por las semifinales de la Copa...
4         clarin  ...  La imagen se repitió una y otra vez en las pri...
...          ...  ...                                                ...
37640   lanacion  ...  TCL presentó por estos días un prototipo de un...
37641   lanacion  ...  Una aplicación colaborativa que les facilite a...
37642   lanacion  ...  YouTube publicó el adelanto de \r\nA Heist Wit...
37643   lanacion  ...  Los Memojis son las ilustraciones personalizad...
37644   lanacion  ...  Huawei finalmente le puso fecha a la disponibi...

[37645 rows x 9 columns]

---

**Resumen de cantidad de noticias según diario y sección**

---

In [0]:
# Agrupa las noticias por diario y categoría
a = noticias.groupby(['news_paper', 'category'])
# Genera un array numpay solo con la cantidad de noticias
b = np.array(a.aggregate(np.count_nonzero)['link'])
# Agrega al array la sumatoria por secciones
b = np.append(b,[b[0:6] + b[6:12] + b[12:18]])
# Genera un dataframe con la cantidad de noticias por seccion y diario y los totales
resumen = pd.DataFrame({"Clarin":np.append(b[0:6],[b[0:6].sum()]), 
                        "Infobae":np.append(b[6:12],[b[6:12].sum()]),  
                        "La Nacion":np.append(b[12:18],[b[12:18].sum()]),
                        "TOTAL":np.append(b[18:24],[b[18:24].sum()])},
             index=['Deportes', 'Economía','Espectaculos','Politica','Sociedad','Tecnologia','TOTAL'])
# Muestra el dataframe
resumen.T

           Deportes  Economía  Espectaculos  ...  Sociedad  Tecnologia  TOTAL
Clarin         1262      1260          1224  ...      1246        1260   7556
Infobae        3737      1567          2787  ...      2060        2577  14903
La Nacion      1685      1419          2776  ...      2984        3037  15186
TOTAL          6684      4246          6787  ...      6290        6874  37645

[4 rows x 7 columns]

---

Se exporta la tabla resumen como archivo CSV

---

In [0]:
news_resumen = resumen.to_csv (r'/content/TMnews/data/news_resumen.csv', index = True, header=True)